@charset "utf-8";

.main {
  .content-1 {
    @include sectionTemp;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    color: $WHITE;

    .btn-wrap {
      font-size: 18px;
      font-weight: 500;
      transform: rotate(-90deg);
      text-align: center;
    }

    .tit-parag {
      font-size: 4.5rem;
      font-weight: 600;
    }

    .cont-parag {
      font-size: 22px;
    }

    .lst-SNS {
      position: absolute;
      bottom: 5%;
      left: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;

      .item-SNS {
        display: inline-block;
        font-size: 0;
      }

      li:nth-child(1) .item-SNS {
        width: 16px;
        height: 13px;
        background-image: url('../images/ic_tw.png');
        background-size: cover;
      }

      li:nth-child(2) .item-SNS {
        width: 8px;
        height: 18px;
        background-image: url('../images/ic_fb.png');
        background-size: cover;
      }

      li:nth-child(3) .item-SNS {
        width: 14px;
        height: 14px;
        background-image: url('../images/ic_nv.png');
        background-size: cover;
      }
    }
  }

  .content-2 {
    @include sectionTemp;
    padding: 0 5vw;

    .wrap-tit {
      display: flex;
      .tit-main {
        display: inline-block;
        position: relative;
        font-size: 39px;
        font-weight: 700;

        &::after {
          @include pseudoEle;
          bottom: 10px;
          right: -10px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $RED;
        }
      }

      .tit-sub {
        position: relative;
        margin-left: 30vw;
        width: 380px;
        font-size: 17px;
        font-weight: 500;

        &::before {
          @include pseudoEle;
          top: 5px;
          left: -100px;
          width: 60px;
          height: 3px;
          background-color: $BLACK;
        }
      }
    }

    .wrap-business {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      margin-top: 50px;

      @for $i from 0 to 6 {
        li:nth-child(#{$i + 1}) .item-business::after {
          background-position: -#{$i * 40}px 35px;
        }
      }

      .item-business {
        position: relative;
        cursor: pointer;
        background-color: #f6f6f6;
        padding: 40px;
        height: 190px;
        box-sizing: border-box;
        transition: box-shadow 0.3s;

        &:hover {
          background-color: $WHITE;
          box-shadow: 0 0 10px 5px rgba($BLACK, 0.1);
        }

        &::after {
          @include pseudoEle;
          top: 30px;
          right: 30px;
          width: 40px;
          height: 35px;
          background-image: url('../images/ic_list_01.png');
          background-size: 600% 100%;
        }

        .tit-business {
          font-size: 22px;
          font-weight: 700;
        }

        .cont-business {
          position: relative;
          width: 230px;
          font-size: 15px;
          margin-top: 12px;

          &::before {
            @include pseudoEle;
            bottom: -30px;
            width: 45px;
            height: 2px;
            background-color: $BLACK;
          }

          &::after {
            @include pseudoEle;
            bottom: -33px;
            left: 36px;
            width: 6px;
            height: 6px;
            border-top: 2px solid $BLACK;
            border-right: 2px solid $BLACK;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .indicator {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: flex;
    justify-content: space-between;

    span {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $WHITE;

      &.on {
        background-color: $RED;
      }
    }
  }
}

.btn-aside {
  position: fixed;
  bottom: 5%;
  right: 2%;
  color: $WHITE;
  text-align: center;

  .lst-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: $RED;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      height: 240px;

      li {
        & + li {
          margin-top: 20px;
        }

        .item-img {
          margin: 0 auto;
        }

        &:nth-child(1) {
          .item-cont {
            display: block;
            visibility: visible;
          }
        }

        &:nth-child(2) {
          display: block;
          visibility: visible;
        }

        &:nth-child(3) {
          display: block;
          visibility: visible;
        }
      }
    }

    li {
      &:nth-child(1) {
        .item-cont {
          display: none;
          visibility: hidden;
        }
      }

      &:nth-child(2) {
        display: none;
        visibility: hidden;
      }

      &:nth-child(3) {
        display: none;
        visibility: hidden;
      }
    }

    .item-cont {
      font-size: 0.75rem;
    }

    .item-ad {
      width: 29px;
      height: 34px;
      background-image: url('../images/ic_ad.png');
      background-size: cover;
    }

    .item-product {
      width: 33px;
      height: 29px;
      background-image: url('../images/ic_guide.png');
      background-size: cover;
    }

    .item-company {
      width: 21px;
      height: 27px;
      background-image: url('../images/ic_doc.png');
      background-size: cover;
    }
  }

  .btn-top {
    cursor: pointer;
  }
}
