@charset "utf-8";

body,
div,
header,
main,
footer,
nav,
p,
ul,
li,
a,
button,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
