@charset "utf-8";

@import "./reset";

.wrap {
  width: 100vw;
}

.header {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  height: 110px;
}

.header.on {
  background-color: rgba(0, 0, 0, 0.9);
}

.main {

}

// http://www.einsmedia.co.kr/uploads/media/mvis_01.jpg